$color-pink: #ffb8ca;
$color-beige: #f0d1a5;
$color-green: #c2e297;
$color-text-red: #d41443;
$color-text-white: #ffffff;
$color-dots: #ffffff;
$color-pink-text: #FFA5BA;
$color-pink-bg: #FFF5F6;
$color-black: #000000;
$color-light-text: #907E82;
$color-btn-hover: #ECEBEB;