.howmade {
	display: flex;
	flex-direction: column;
	background-color: $color-pink-bg;

	& .title-holder {
		display: flex;
		gap: 15px;
		margin-top: 125px;
		flex-direction: column;
		text-align: center;

		& .how-made--subtitle {
			color: $color-pink-text;
			font-size: 18px;
			font-family: "Titan One";
		}

		& .how-made--title {
			color: $color-text-red;
			font-size: 34px;
			font-family: "Titan One";
		}
	}

	& .cow-info {

		& .cow-img {
			max-width: 100%;
			height: auto;
		}

		& .text-holder {
			font-size: 12px;
			font-family: "DM Sans";
			
			& .text--bold {
				color: $color-black;
			}

			& .text--light {
				color: $color-light-text;
			}

			& button {
				background-color: $color-dots;
				border: none;
				border-radius: 22px;
				width: 176px;
				height: 44px;
				display: flex;
				justify-content: center;
				margin-bottom: 39px;

				&:hover {
					background-color: $color-btn-hover;
				}

				& .read-more-link {
					color: $color-text-red;
					text-align: center;
					font-family: "DM Sans";
					padding-top: 8px;
					font-size: 14px;
				}
			}
		}
	}

	& .numbers-holder {
		display: flex;
		gap: 38px;
		flex-direction: column;
		margin-bottom: 145px;

		& .number {
			& .udder {
				width: 33px;
				height: 50px;
			}

			& .apples {
				width: 50px;
				height: 50px;
			}

			& .heart {
				width: 44px;
				height: 50px;
			}

			& .title {
				font-size: 36px;
				color: $color-text-red;
				font-family: "Titan One";
			}

			& .text--bold {
				font-size: 12px;
				font-family: "DM Sans";
				color: $color-black;
			}
		}
	}
}

@media (min-width: 768px) {
	.howmade {
		width: 100%;

		& .title-holder {
			margin-top: 130px;

			& .how-made--subtitle {
				font-size: 26px;
			}

			& .how-made--title {
				font-size: 48px;
			}
		}

		& .cow-info {
			display: flex;
			flex-direction: row;
			gap: 17px;

			& .cow-img {
				width: 340px;
				height: 339px;
				margin-top: 50px;
			}

			& .text-holder {
				margin-top: 100px;

				& .text--bold {
					font-size: 14px;
				}

				& .text--light {
					font-size: 14px;
				}

				& button {
					width: 176px;
					height: 44px;
					margin-top: 62px;
					margin-bottom: 66px;
				}
			}
		}

		& .numbers-holder {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 60px;

			& .number {
				margin-bottom: 242px;

				& .udder {
					width: 33px;
					height: 50px;
				}

				& .apples {
					width: 50px;
					height: 50px;
				}

				& .heart {
					width: 44px;
					height: 50px;
				}

				& .title {
					font-size: 48px;
				}

				& .text--bold {
					font-size: 14px;
				}
			}
		}
	}
}

@media (min-width:1024px) {
	.howmade {
		width: 100%;

		& .title-holder {
			margin-top: 125px;

			& .how-made--subtitle {
				font-size: 30px;
			}

			& .how-made--title {
				font-size: 58px;
			}
		}

		& .cow-info {
			display: flex;
			flex-direction: row;
			gap: 74px;
			background-image: url(/image/spilled-milk.webp);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;

			& .cow-img {
				width: 516px;
				height: 516px;
				margin-top: 55px;
			}

			& .text-holder {
				margin-top: 106px;

				& .text--bold {
					font-size: 16px;
				}

				& button {
					width: 176px;
					height: 44px;
					margin-top: 45px;
					margin-bottom: 146px;
				}
			}
		}

			& .numbers-holder {
				display: flex;
				flex-direction: row;
				justify-content: center;
				gap: 60px;

				& .number {
					margin-bottom: 310px;

					& .udder {
						width: 33px;
						height: 50px;
					}

					& .apples {
						width: 50px;
						height: 50px;
					}

					& .heart {
						width: 44px;
						height: 50px;
					}

					& .title {
						font-size: 58px;
					}

					& .text--bold {
						font-size: 16px;
					}
				}
			}
	}
}